@layer base {
  /* this is the code to embed locally the fonts */

  /* Montserrat – Thin 100 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Montserrat-Thin.ttf");
  }

  /* Montserrat – Thin 100 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    src: url("../fonts/Montserrat-ThinItalic.ttf");
  }

  /* Montserrat – ExtraLight 200 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
  }

  /* Montserrat – ExtraLight 200 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
  }

  /* Montserrat – Light 300 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Montserrat-Light.ttf");
  }

  /* Montserrat – Light 300 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/Montserrat-LightItalic.ttf");
  }

  /* Montserrat – Regular 400 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf");
  }

  /* Montserrat – Regular 400 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Montserrat-RegularItalic.ttf");
  }

  /* Montserrat – Medium 500 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf");
  }

  /* Montserrat – Medium 500 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/Montserrat-MediumItalic.ttf");
  }

  /* Montserrat – SemiBold 600 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf");
  }

  /* Montserrat – SemiBold 600 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
  }

  /* Montserrat – Bold 700 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf");
  }

  /* Montserrat – Bold 700 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Montserrat-BoldItalic.ttf");
  }

  /* Montserrat – ExtraBold 800 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
  }

  /* Montserrat – ExtraBold 800 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
  }

  /* Montserrat – Black 900 */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Montserrat-Black.ttf");
  }

  /* Montserrat – Black 900 Italic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/Montserrat-Black.ttf");
  }
}

/* old code:

* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  color: #333745;
  background-color: #daede2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.navLogo {
  max-height: 100px;
  padding-left: 30px;
}

.container {
  display: flex;
  gap: 35pt;
  justify-content: end;
  align-items: center;
  padding: 47px 70px 47px 0;
}

button {
  background-color: #333745;
  color: #daede2;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
}

.headerImage {
  max-height: 600px;
  width: 100vw;
  object-fit: cover;
  margin-top: 140px;
  padding: 30px;
}

.partOne,
.partTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 35px 0;
  margin: 0px 140px;
}

hr {
  border-color: #333745;
  width: 100%;
  height: 2px;
}

h2 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

h3 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}

h4 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}

h5 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}

p {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.schritte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}

.schritteLabel {
  min-width: 235px;
}

.textLeft {
  text-align: left;
  padding-top: 35px;
}
 */
