* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  color: #333745;
  background-color: #daede2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.navLogo {
  max-height: 100px;
  padding-left: 30px;
}

.container {
  display: flex;
  gap: 35pt;
  justify-content: end;
  align-items: center;
  padding: 47px 70px 47px 0;
}

button {
  background-color: #333745;
  color: #daede2;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
}

.headerImage {
  max-height: 600px;
  width: 100vw;
  object-fit: cover;
  margin-top: 140px;
  padding: 30px;
}

.partOne,
.partTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 35px 0;
  margin: 0px 140px;
}

hr {
  border-color: #333745;
  width: 100%;
  height: 2px;
}

h2 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

h3 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}

h4 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}

h5 {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
}

p {
  color: #333745;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.schritte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}

.schritteLabel {
  min-width: 235px;
}

.textLeft {
  text-align: left;
  padding-top: 35px;
}
